In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
df = pd.read_csv('energydata_complete.csv')

In [12]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

#rename columns
column_names = { 'T1' : 'Temperature1' , 'RH_1' : 'Rough hard' ,
'T2' : 'Temperature1' , 'RH_2' : 'Rough hard' ,
'T3' : 'Temperature1' , 'RH_3' : 'Rough hard' }

df = df.rename(columns=column_names)

In [13]:
sample_df = df[['T2','T6']]

In [14]:
sample_df = pd.DataFrame(sample_df)

In [15]:
sample_df.shape

(19735, 2)

In [16]:
sample_df.head()

     T2        T6
0  19.2  7.026667
1  19.2  6.833333
2  19.2  6.560000
3  19.2  6.433333
4  19.2  6.366667

sample_df = np.array(sample_df)
#sample_df.reshape(-1, 1)

In [17]:
sample_df.shape

(19735, 2)

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(sample_df["T2"], sample_df["T6"], test_size= 0.3, random_state= 30 )

In [20]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train.values.reshape(-1, 1), y_train.values.reshape(-1, 1))
#obtain predictions
predicted_values = linear_model.predict(x_test.values.reshape(-1, 1))

# Solution to Question 12

In [23]:
#Calculate the r2 value
from sklearn.metrics import r2_score 

R_square = r2_score(y_test.values.reshape(-1, 1), predicted_values) 
print('R_square Value = ', round(R_square, 2))

R_square Value =  0.63

# Solution to Question 13

In [24]:
Second_sameple_df = df.drop(columns=['date', 'lights'])

In [25]:
Second_sameple_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [27]:
#Applying MinMaxScalar
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

normalised_second_sample_df = pd.DataFrame(scaler.fit_transform(Second_sameple_df))

In [43]:
'''Split the dataset into target variable dataset (y) and predictor variable (x) dataset '''
x = normalised_second_sample_df.iloc[:, 1:].values
y = normalised_second_sample_df.iloc[:, 0].values

In [44]:
#Splitting the dataset for training and 
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size= 0.3, random_state= 42)

In [45]:
#fit the model to the training dataset
from sklearn.linear_model import LinearRegression
multiLinear_regressor = LinearRegression()
multiLinear_regressor.fit(X_train, Y_train)

LinearRegression()

In [46]:
#obtain predictions
multilin_predicted_values = multiLinear_regressor.predict(X_test)

In [47]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, multilin_predicted_values)
print("The Mean Absolute Error = ", round(mae, 2))

The Mean Absolute Error =  0.05

In [48]:
#Residual Sum of Squares (RSS)
import numpy as np
rss = np.sum(np.square(Y_test - multilin_predicted_values))
print("Residual Sum of Squares (RSS) = ", round(rss, 2))

Residual Sum of Squares (RSS) =  45.35

In [49]:
#Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, multilin_predicted_values))
print("Root Mean Square Error (RMSE) = ", round(rmse, 3))

Root Mean Square Error (RMSE) =  0.088

In [51]:
#coefficient of determination(R-Squared)
from sklearn.metrics import r2_score
r2_score = r2_score(Y_test, multilin_predicted_values)
print("coefficient of determination(R-Squared) = ", round(r2_score, 2))

coefficient of determination(R-Squared) =  0.15

# Solution for question 17

In [54]:
# get importance
importance = multiLinear_regressor.coef_
highest_feature = ""
lowest_feature = ""
highest = 0
lowest = 0
feature_position = 0
highest_position = 0
lowest_position = 0
# summarize feature importance
for i,v in enumerate(importance):
    
    print('Feature: %0d, Score: %.5f' % (i,v))
    if (v > highest):
        highest = v
        highest_feature = i
        highest_position = feature_position
    if (v<lowest):
        lowest = v   
        lowest_feature = i
        lowest_position = feature_position
    feature_position = feature_position+1

Feature: 0, Score: -0.00328
Feature: 1, Score: 0.55355
Feature: 2, Score: -0.23618
Feature: 3, Score: -0.45670
Feature: 4, Score: 0.29063
Feature: 5, Score: 0.09605
Feature: 6, Score: 0.02898
Feature: 7, Score: 0.02639
Feature: 8, Score: -0.01566
Feature: 9, Score: 0.01601
Feature: 10, Score: 0.23642
Feature: 11, Score: 0.03805
Feature: 12, Score: 0.01032
Feature: 13, Score: -0.04461
Feature: 14, Score: 0.10200
Feature: 15, Score: -0.15760
Feature: 16, Score: -0.18994
Feature: 17, Score: -0.03980
Feature: 18, Score: -0.32186
Feature: 19, Score: 0.00684
Feature: 20, Score: -0.07767
Feature: 21, Score: 0.02918
Feature: 22, Score: 0.01231
Feature: 23, Score: 0.11776
Feature: 24, Score: 0.00077
Feature: 25, Score: 0.00077

In [58]:
#Display the features with the heighest and lowest weight
print(feature_position)

26

In [73]:
predictor_dataset = pd.DataFrame(df)
  
# Remove column name 'A'
predictor_dataset = predictor_dataset.drop(columns = ['Appliances', "date", "lights"])

In [74]:
print("The feature with the highest weight is: ", predictor_dataset.columns[highest_position])

The feature with the highest weight is:  RH_1

In [75]:
print("The feature with the lowest weight is: ", predictor_dataset.columns[lowest_position])

The feature with the lowest weight is:  RH_2

# Question 18

In [76]:
#Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha= 0.4)
ridge_reg.fit(X_train, Y_train)

Ridge(alpha=0.4)

In [77]:
#obtain predictions
ridge_reg_predictions = ridge_reg.predict(X_test)

In [78]:
#Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, ridge_reg_predictions))
print("Root Mean Square Error (RMSE) = ", round(rmse, 3))

Root Mean Square Error (RMSE) =  0.088

# Question 19

In [79]:
#Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [84]:
# get importance
lasso_reg_importance = lasso_reg.coef_
non_zero = 0
# summarize feature importance
for i,v in enumerate(lasso_reg_importance):
    #print('Feature: %0d, Score: %.5f' % (i,v))
    if (v !=0):
        non_zero = non_zero+1
print("Features with non zero weight: ",non_zero)

Features with non zero weight:  4

# Question 20

In [85]:
#obtain predictions
lasso_reg_predictions = lasso_reg.predict(X_test)

In [86]:
#Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, lasso_reg_predictions))
print("Root Mean Square Error (RMSE) = ", round(rmse, 3))

Root Mean Square Error (RMSE) =  0.094